* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1376px;
    width: 100%;
    background: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.navbar {
    display: flex;
    padding: 6px;
    width: 1366px;
    height: 56px;
    background: #FFFFFF;
    border-bottom: 2px solid #00000017;
}

.site-logo {
    width: 101px;
    height: 39px;
    margin-left: 99px;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 14px;
    margin-left: 500px;
}

.text-button {
    margin-top: 11px;
    display: flex;
    gap: 45px;
    margin-left: 30px;
}


.login {
    width: 58px;
    height: 24px;
    display: flex;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.open {
    width: 122px;
    height: 24px;
    display: flex;
    justify-content: center;    
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.english {
    width: 55px;
    height: 24px;
    display: flex;
    justify-content: center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
 
.service{
    text-decoration: none;
    color: #4d4b4b;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #4d4b4b;
}



/* FOOTER */
.section {
    width: 496px;
    height: 850px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    box-shadow: 0px 0px 15px rgb(202, 202, 202);
    background-color: #FFFFFF;
}

.site-logo-2 {
    margin-left: 190px;
    padding-top: 45px;
}

.welcome {
    font-size: 15px;
    line-height: 39px;
    margin-top: 20px;
    margin-left: 110px;
}

.already {
    margin-top: 8px;
    padding-left: 150px;
    display: flex;
    gap: 15px;
}

.have {
    font-size: 16px;
    line-height: 26px;
    color: #acaab1;
}

.login-a {
    margin-top: 4px;
    color: #01BAB3;

}

.section2 {
    padding-left: 30px;
    margin-top: 60px;
}


.form {
    display: flex;
    gap: 30px;
}

.first {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 15px;
}


#Last_name {
    width: 190px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #D9D9D9
}

.form-control {
    margin-top: 20px;
}

#Date {
    width: 435px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
    padding: 3px;
    margin-top: 10px;
}

.section3 {
    padding-left: 30px;
}

.input-section {
    display: flex;
    gap: 30px;
}

.in-section {
    width: 200px;
    height: 48px;
    border: 2px solid #01BAB3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.radio {
    width: 20px;
    height: 20px;
    border: 2px;
    background-color: #01BAB3;
    margin-left: 12px;
}

.jins {
    font-size: 16px;
    line-height: 24px;
}

.skype {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.skype_in {
    width: 421px;
    height: 48px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-bottom: 10px;
}

.skype-promo {
    width: 421px;
    height: 48px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 10px;
}

#Your_login {
    padding-left: 10px;
}

.continue{
    width: 416px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    background: #01BAB3;
    color: white;
    margin-top: 60px;
}

